body {
    font-family: 'Arial';
    text-align: center;
    margin: 0;
    padding: 20px;
}

h1 {
    color: #333;
}

.game-container {
    display: grid;
    grid-template-columns: repeat(2, 125px); 
    grid-template-rows: repeat(2, 125px);
    justify-content: center;
    max-width: 600px;
    margin: 20px auto;
    gap: 10px;
}

.game-button {
    width: 125px;
    height: 125px;
    margin: 10px;
    border: 2px solid #ddd;
    border-radius: 10px;
    cursor: pointer;
    font-size: 0;
    background-color: #888;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}


.game-button:hover {
    transform: scale(1.1);
}

.game-button:active {
    transform: scale(0.9);
}

.color-red {
    background-color: #ff5555;
}


.game-button.active {
    opacity: 0.7;
    transform: scale(1.1);
}

.color-green {
    background-color: #55ff55;
}

.color-blue {
    background-color: #5555ff;
}

.color-yellow {
    background-color: #ffff55;
}

#level {
    color: blue;
}

html, body {
    margin: 0;
    padding: 0;
    background-color: white;
    height: 100%;
}
body {
    font-family: 'Arial', sans-serif;
    text-align: center;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

h1 {
    color: #333;
}

#Record, #level {
    font-size: 18px;
    color: #777;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    margin: 10px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}


#startGameButton {
    background-color: #3498db;
    color: white;
}

#startGameButton:hover {
    background-color: #2980b9;
}

.game-board {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
